.card {
  transition: all 200ms ease;
  transition-property: translate, box-shadow;
  border-radius: 20px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
}

.card:hover,
.card:focus {
  background-color: #414e58;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.3);
  translate: 0 -5px;
}